<div class="sideB">
    <div class="container">
        <div class="row">

            <div class="col">
                <h5 class="pl-2">Material</h5>
                <div class="container p-0">
                    <div class="control-group">
                        <label class="control control--checkbox">
                            Genuine asd
                            <input type="checkbox" checked="checked" />
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox">
                            Artificial leather
                            <input type="checkbox" />
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox">
                            Suede
                            <input type="checkbox" />
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col">
                <h5 class="pl-2">Type</h5>
                <div class="container p-0">
                    <div class="control-group">

                        <label class="control control--checkbox">
                            Men
                            <input type="checkbox" checked="checked" />
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox">
                            Women
                            <input type="checkbox" />
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox">
                            Kids
                            <input type="checkbox" />
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="pl-2">Model</h5>
                <div class="container p-0">
                    <div class="control-group">

                        <label class="control control--checkbox">
                            Classic bag
                            <input type="checkbox" checked="checked" />
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox">
                            Purse
                            <input type="checkbox" />
                            <div class="control__indicator"></div>
                        </label>
                        <label class="control control--checkbox">
                            Tablet bag
                            <input type="checkbox" />
                            <div class="control__indicator"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="range-slider">
        <input class="priceRangePrint" type="number" value="25000" min="0" max="120000" />
        <input class="priceRangePrint" type="number" value="50000" min="0" max="120000" />
        <input value="25000" min="0" max="120000" step="500" type="range" />
        <input value="50000" min="0" max="120000" step="500" type="range" />
    </div>
    <form class="dropdownForm">
        <input class="chosen-value" type="text" value="" placeholder="Type to filter">
        <ul class="value-list">
            <li>Nike</li>
            <li>Alaska</li>
            <li>Arizona</li>
            <li>Arkansas</li>
            <li>California</li>
            <li>Colorado</li>
            <li>Connecticut</li>
            <li>Delaware</li>
            <li>Florida</li>
            <li>Georgia</li>
            <li>Hawaii</li>
            <li>Idaho</li>
            <li>Illinois</li>
            <li>Indiana</li>
            <li>Iowa</li>
        </ul>
    </form>


</div>