
@{
    Layout = "_Layout";
}
@model MyOwnApp.ViewModels.ForgotPasswordModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="~/css/styleForgot.css" rel="stylesheet" />
</head>
<body>
    <div class="forgot-wrap">
        <div class="forgot-html">      
            <label for="tab-1" class="tab"></label>
            <div class="forgot-form">
                <form asp-controller="Account" asp-action="ForgotPassword">
                    <div class="group">
                        <label class="label">Email</label>
                        <input asp-for="Email" type="text" class="input">
                    </div>

                    <div class="group">
                        <input type="submit" class="button" value="Send message">
                    </div>

                </form>


            </div>
        </div>
    </div>
    
</body>
</html>
