h1,h2 {
  text-align: center;
}
.showFlex {
  display: flex;
  justify-content: space-between;
  align-content: end;
  padding: 10px 50px;
}
.showSaleFlex {
  display: flex;
  justify-content: space-evenly;
  align-content: end;
  padding: 10px 50px;
}
.showSaleFlex .tripleCol{
  align-self: center;
}
.showSaleFlex .tripleColImg{
  width: 20%;
  height: 20%; 
  display: flex;
  flex-direction: row;
}
.tripleCol {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tripleCol li {
  display: block;
}
.tripleColImg{
  width: 30%;
  height: 30%;
}
.tripleColImg img{
  width: 100%;
  height: 100%;
}
.tripleCol h5{
  text-transform: uppercase;
}
.dropdown-content a {
  color: #474843 !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  margin: 0px;
  width: 98.75vw;
}

.dropdown-content a:hover {
  color: #c40e0b !important;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.oldPrice {
  font-weight: 400;
  text-decoration: line-through;
  color: rgb(126, 126, 126);
}
.price {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 0 !important;
}
.card-title {
  margin-bottom: 0px !important;
}
.recommendCard {
  text-align: center;
  height: 100% !important;
}
.col {
  margin: 10px 0px 15px 0px;
}
.recommendCard:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header:first-child {
  display: flex;
  flex-direction: column;
}
.carouselAdvert {
  display: flex;
  flex-direction: row;
}
.carouselBlock {
  padding: 0px 50px;
}
.mainAdvert {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-floating i {
  color: rgb(87, 87, 87);
}
.controls-top {
  display: flex;
  justify-content: space-between;
}
.controls-top .carousel-inner {
  padding: 0px 20px !important;
}

.btn-floating {
  align-self: center;
}
.under {
  text-align: center;
  align-self: flex-end;
  margin-right: auto;
  margin-left: auto;
}
.uL {
  margin-left: 15%;
  margin-right: auto;
}
.uR {
  margin-right: 15%;
  margin-left: auto;
}
.under h3 {
  color: white !important;
}
.under p {
  font-size: 13pt;
  display: block;
  color: white !important;
}
.under a {
  text-transform: uppercase;
  font-size: 16pt;
  color: white !important;
  text-decoration: none !important;
  position: relative;
  display: block;
}
.under a:before,.under a:after {
  content: "";
  border-bottom: solid 1px white !important;
  position: absolute;
  bottom: 0;
  width: 0;
}

.under a:before {
  left: 0;
}
.under a:after {
  right: 0;
}

.under a:hover:before,.under a:hover:after {
  width: 50%;
}

.under a:before,.under a:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.mainUnderBlack a {
  font-size: 12pt !important;
  color: rgba(0, 0, 0, 0.801) !important;
}
.mainUnderBlack h3 {
  color: rgba(0, 0, 0, 0.801) !important;
}
.mainUnder a {
  font-size: 12pt !important;
}
.AdvCard {
  width: 50%;
  height: 40vh;
  margin: 20px 5px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
}
.AdvBlock {
  width: 25%;
  height: 40vh;
  margin: 20px 5px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.miniAdvert {
  background-color: #fc2f40;
  height: 40px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
.miniAdvert a {
  width: 50%;
  height: 50px;
  align-self: center;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  vertical-align: middle;
}
.miniAdvert a:hover{
  text-decoration: none;
}
.headerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart {
  position: absolute;
  right: 40px;
  top: 75px;
  border-left: #f2f2f2 1px solid;
  margin-right: 10px;
  padding-left:10px;
}
.cart button{
    border:0px;
    padding:0px;
}
.account {
  position: absolute;
  right: 10px;
  top: 75px;
}
.map {
  position: absolute;
  right: 90px;
  top: 75px;
}
.account i,.cart i,.map a {
  color: white !important;
}
.account:hover,.cart:hover,.map a:hover {
  text-decoration: none;
  cursor: pointer;
}
.fullWidth {
  width: 100%;
  margin-left: 10px;
}
.header {
  background-color: #c40e0b;
}
.main {
    padding-top:20px;
}
.nav-link {
  font-size: 12pt;
  color: #fdf9f9fa !important;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-link:hover, .dropdown:hover .nav-link {
  color:#c40e0b !important;
  background-color:#f9f9f9;
}
.logo img {
  height: 50px;
  width: 160px;
  padding-left: 10px;
}
.cardBrand:hover{
  cursor: pointer;
}
.cardBrand{
  padding: 50px 25px;
  align-content: center;
  background-color: #f2f2f2 !important;
  margin: 3px;
}
.cardBrand .card-body{
  padding: 0px;
}
.brandImg{
  height: 60px;
  width: 130px;
}
.d-block {
  width: 100vw !important;
  height: 70vh !important;
}
.curs:hover {
  cursor: pointer;
}


.imgRecommend {
  height: 160px !important;
  width: 160px !important;
  margin-left: auto;
  margin-right: auto;
}
.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    width: 16rem;
    height: 210px;
    /* margin: 10px; */
    padding: 10px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
}

    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #141c1fa6;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0a0e0f;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.sideB {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.mainList {
    display: flex;
    justify-content: space-evenly;
}

.paginationForm {
    width: 100%;
    height: 55px;
    margin-top: 25px;
}

.containerU {
    display: flex;
    justify-content: center;
}

#pagUl {
    padding: 0px;
}

.page-item {
    display: inline-block;
    margin: 0px;
}

.filter-bar {
    padding: 15px 20px 10px 20px;
    background: rgb(138, 11, 9);
}
.cardList {
    text-align: center;
    height: 100% !important;
    padding: 0px 25px;
}

    .cardList .card-body {
        padding: 20px 0px;
    }

    .cardList:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-attachment: scroll;
    }

.productList {
    padding-right: 0px;
    /* border-left: 1px rgb(138, 11, 9) solid; */
}

    .productList .row:not(:first-child) {
        margin-top: 20px;
    }

.cardList .col {
    margin: 10px 0px 15px 0px;
}

.Myactive {
    color: #027AF9 !important;
}
.CardA {
    color: inherit;
    text-decoration: none;
}

    .CardA:hover {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }